* {
  box-sizing: border-box;
}
body {
  margin: 0 auto;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
}
.container {
  max-width: 1280px;
  padding: 2rem;
  text-align: center;
  /* border: black 2px solid; */
  display: flex;
  margin: 0 auto;
}

/* ------------   MAIN    ------------------ */
/*  SIGNUP  */

.signup,
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  max-width: 400px;
  margin: 0 auto;
}
.signup-form,
.login-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 400px;
}

.signup-form input,
.login-form input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.signup-form input:focus,
.login-form input:focus {
  outline: none;
}

.signup-form button:hover,
.login-form button:hover {
  background-color: #09b1ba;
  color: #fff;
}
h2,
.redirection {
  font-size: 20px;

  margin-bottom: 20px;
}

.redirection {
  all: unset;
}
.redirection {
  cursor: pointer;
  color: #09b1ba;
}
.newsletter-label {
  display: flex;
  margin-right: auto;
}
.newsletter-checkbox:checked ~ .checkmark {
  background-color: #09b1ba;
}

/* 
PUBLISH


*/
.publish-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  max-width: 400px;
  margin: 0 auto;
}

.publish-form input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.publish-form textarea {
  width: 100%;
}

.publish-form button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #09b1ba;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.publish-form button:hover {
  background-color: #07a0a0;
}
