* {
  box-sizing: border-box;
}
body {
  margin: 0 auto;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
}
.container {
  max-width: 1280px;
  padding: 2rem;
  text-align: center;
  /* border: black 2px solid; */
  display: flex;
  margin: 0 auto;
}
/* ------------HEADER ------------ */
.logo {
  height: 50px;
  width: 120px;
  cursor: pointer;
}

.header {
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  background-color: #f2f2f2;
}
.nav-header-container {
  display: flex;
  flex-direction: column;
}
.search-container {
  display: flex;
  align-items: center;
  background-color: #e3e3e3;
  width: 590px;
  border-radius: 5px;
}
.search-container input {
  appearance: none;
  background-color: #e3e3e3;
  border: none;
  margin: 5px 20px;
  outline: none;
}
.search-input-icon {
  color: #757575;
  padding-left: 8px;
}
.sort-container {
  display: flex;
  padding-left: 8px;
  padding-top: 8px;
}
.checkbox {
  margin-left: 5px;
}
.checkbox input {
  appearance: none;
  position: absolute;
}

.checkbox .checkmark {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 1px solid #666;
  border-radius: 100%;
  width: 15px;
  height: 15px;
  transition: background-color 0.5s ease;
}

.checkbox input:checked ~ .checkmark {
  background-color: #09b1ba;
}

button {
  /* display: flex; */
  /* display: inline-block; */
  background-color: #fff;
  color: #09b1ba;
  font-weight: bold;
  text-align: center;
  border: solid 1px;
  border-radius: 8px;
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 12px;
}
.buttons button {
  /* margin: 5px; */
  /* border: red solid 3px; */
  margin-right: 10px;
  font-family: "Roboto", sans-serif;
}
.button-sale {
  margin-left: 30px;
  background-color: #09b1ba;
  color: #fff;
}

/* ------------   MAIN    ------------------ */
