.logo {
  height: 50px;
  width: 120px;
  cursor: pointer;
}
.logo img {
  height: 50px;
  width: 120px;
}

.header {
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  background-color: #f2f2f2;
}
.nav-header-container {
  display: flex;
  flex-direction: column;
}
.search-container {
  display: flex;
  align-items: center;
  background-color: #e3e3e3;
  width: 590px;
  border-radius: 5px;
}
.search-container input {
  appearance: none;
  background-color: #e3e3e3;
  border: none;
  margin: 5px 20px;
  outline: none;
}
.search-input-icon {
  color: #757575;
  padding-left: 8px;
}
.sort-container {
  display: flex;
  padding-left: 8px;
  padding-top: 8px;
}
.checkbox {
  margin-left: 5px;
}
.checkbox input {
  appearance: none;
  position: absolute;
}

.checkbox .checkmark {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 1px solid #666;
  border-radius: 100%;
  width: 15px;
  height: 15px;
  transition: background-color 0.5s ease;
}

.checkbox input:checked ~ .checkmark {
  background-color: #09b1ba;
}

button {
  background-color: #fff;
  color: #09b1ba;
  font-weight: bold;
  text-align: center;
  border: solid 1px;
  border-radius: 8px;
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 12px;
}
.buttons button {
  margin-right: 10px;
  font-family: "Roboto", sans-serif;
}
.buttons {
  display: flex;
}
.button-sale {
  margin-left: 30px;
  background-color: #09b1ba;
  color: #fff;
}
@media (max-width: 1150px) {
  .search-container {
    width: 400px;
  }
  .search-container input {
    margin: 5px 10px;
  }
}
@media (max-width: 960px) {
  .search-container {
    width: 300px;
  }
  .search-container input {
    margin: 5px 10px;
  }
}
@media (max-width: 860px) {
  .search-container {
    width: 100%;
  }
  .sort-container {
    display: none;
  }
  .logo img {
    width: 100px;
  }
}
@media (max-width: 752px) {
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .buttons {
    display: flex;
    margin: 4px 5px;
  }
  .button-sale {
    margin-left: 5px;
  }
  button {
    padding: 8px 12px;
  }
  button:first-child {
    margin-right: 5px;
  }
}
