.hero-block {
  /* height: 950px; */
  width: 100%;
  /* border: black solid 2px; */
  /* overflow: hidden; */
}
.hero-block img {
  object-fit: contain;
  max-width: 100%;
  height: auto;
}
.card-container {
  /* width: 100%; */
  display: flex;
  flex-wrap: wrap;
}
.home-card-wrapper {
  height: 1500px;
  /* border: salmon 1px solid; */
  display: flex;
  justify-content: space-between;
}
.home-card-wrapper img {
  object-fit: cover;
  width: 250px;
  height: 350px;
  margin-right: 5px;
  margin-top: 10px;
}
.card-avatar-username {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.avatar img {
  height: 20px;
  width: 20px;
  border-radius: 10px;
}
.avatar {
  display: flex;
  align-items: flex-end;
  gap: 5px;
}
.image-web {
  position: relative;
}

.image-web .box {
  position: absolute;
  top: 40%;
  left: 18%;
  transform: translate(-50%, -50%);
  margin: 0;
  background-color: white;
  text-align: center;
  height: 270px;
  width: 410px;
  border-radius: 5px;
}
.box h2 {
  font-size: 30px;
  margin-top: 50px;
  padding-right: 40px;
  font-family: "Roboto", sans-serif;
}
.box button {
  margin-top: 50px;
  margin-right: 120px;
  background-color: #09b1ba;
  color: #fff;
  padding: 12px;
  font-size: 15px;
}
.image-web {
  display: flex;
  flex-direction: column-reverse;
}

footer {
  height: 120px;
  background-color: #faf1ed;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer a {
  color: black;
  font-family: TS-med;
  text-decoration: none;
}
footer p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

footer img {
  height: 2em;
  width: 2em;
}
/* 
 ---------------RESPONSIVE ---------------

*/

@media (max-width: 768px) {
  .image-web .box {
    display: flex;
    flex-direction: column;
    position: static;
    top: auto;
    left: auto;
    transform: none;
    margin: 20px auto 0;
    background-color: white;
    text-align: center;
    height: 270px;
    width: 410px;
    border-radius: 5px;
  }

  .box button {
    margin-top: 30px;
    margin-right: 60px;
    padding: 8px;
    font-size: 12px;
  }
}
@media (max-width: 650px) {
  .card-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  .home-card-wrapper {
    width: 100%;
    height: 300px;
    margin-right: 0;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
  }
}
