* {
  font-family: "Roboto", sans-serif;
}
body {
  background-color: #f2f2f2;
}
.img-desktop img {
  width: 70%;
  height: 10%;
}
.img-desktop {
  display: flex;
  justify-content: center;
}
.offer-container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
}

.offer-container-img {
  margin-right: 20px;
}

.offer-container-img img {
  max-width: 80%;
  height: auto;
}

.offer-info {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  justify-content: space-around;
  /* align-items: flex-end; */
}

.offer-info h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.offer-info p {
  margin-bottom: 10px;
}

.offer-info span {
  margin-right: 5px;
}

.offer-info span:first-child {
  font-weight: bold;
}

.offer-info a {
  margin-top: 20px;
}
.offer-info-desc {
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;

  /* border: solid 2px red; */
}
